

<nav>
  <ul>
    <li>
      <% if @session == nil %>
      <%=link_to "Home", login_path%>
      <% else %>
      <%= link_to "Home", user_path(@session)%>
      <%end%>
    </li>
    <li>
      <a href="/studios">Studios</a>
    </li>
    <li>
      <a href="/engineers">Engineers</a>
    </li>
    <li>
      <a href="/logout">Log Out</a>
    </li>
  </ul>
</nav>
<h1><%=@user.name%></h1>
<ul>
<p><%= @user.email %></p>
</ul>
<ul>

<h3>Appointments</h3>
<%@user.schedules.each do |s|%>
<li><%=link_to "#{s.studio.name} - #{s.date}", schedule_path(s) %></li>
<% end%>
</ul>

<%= button_to "Edit account details", edit_user_path(@user.id), method: :get %>

<%= button_to "Delete Account", user_path(@user.id), method: :delete %>

<%= button_to "Create Appointment", new_schedule_path, method: :get %>