<nav> <h2>PORTAL</h2>
  <ul>
    <li>
    <% if @session == nil %>
      <%=link_to "Home", login_path%>
      <% else %>
      <%= link_to "Home", user_path(@session)%>
      <%end%>
    </li>
    <li>
      <a href="/studios">Studios</a>
    </li>
    <li>
      <a href="/engineers">Engineers</a>
    </li>
    <li>
    <a href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<h1>Change your Appointment</h1>

<%= form_for @schedule do |s| %>
    <%= s.label :studio_id %>
    <%= s.collection_select :studio_id, @studios, :id, :name %>
    <%= s.label :engineer_id %>
    <%= s.collection_select :engineer_id, @engineers, :id, :name %>
    <br>
    <%= s.label :time %>
    <%= s.number_field :time %>
    <br>
    <%= s.label :date %>
    <%= s.date_field :date %>
    <br>
    <%= s.submit "Update Appointment" %>
<% end %>